3.	<h1>Edit <%= @song.name %></h1>
4.
5.	<form action="/songs/<%= @song.slug %>" method="POST">
6.	 <input type="hidden" name="_method" value="PATCH">
7.
8.	 <label for="name">Name</label>
9.	 <input type="text" name="song[name]" id="name" value="<%= @song.name %>">
10.
11.	 <label for="artist_name">Artist Name</label>
12.	 <input type="text" name="artist[name]" value="<%= @song.artist.name %>" id="artist_name">
13.
14.	 <% Genre.all.each do |genre| %>
15.	   <label><%= genre.name %></label>
16.	   <input type="checkbox" name="genres[]" value="<%= genre.id %>" id="<%= genre.name %>" <%='checked' if @song.genres.include?(genre) %>>
17.	 <% end %>
18.
19.	 <input type="submit" value="Save">
</form>
